.c-introduction {
    &__circle {
        position: absolute;
        height: 12em;
        top: -4em;
        left: -1.3em;
    }

    &__center {
        display: flex;
        justify-content: center;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    &__image-meeting {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: -3em;
    }
}
