.c-introduction {
    &__circle {
        position: absolute;
        height: 4em;
        top: -1.5em;
        left: -1em;

        animation: spin 60s linear infinite;

        @media screen and (min-width: $breakpoint-small) {
            height: 6em;
            top: -2.2em;
            left: -2em;
        }

        @media screen and (min-width: $breakpoint-medium) {
            height: 8em;
            top: -3em;
            left: -2em;
        }

        @media screen and (min-width: $breakpoint-large) {
            height: 12em;
            top: -4.4em;
            left: -4em;
        }
    }

    &__center {
        display: flex;
        justify-content: center;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin: 0;

        font-size: 1.5em;

        @media screen and (min-width: $breakpoint-small) {
            font-size: 2em;
        }

        @media screen and (min-width: $breakpoint-medium) {
            font-size: 3em;
        }

        @media screen and (min-width: $breakpoint-large) {
            font-size: 4em;
        }
    }

    &__image-meeting {
        margin-left: 2em;
        margin-right: 2em;
        margin-top: -3em;
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
