.c-slider {
    &__heading {
        text-transform: uppercase;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-height: 10em;

        @media screen and (min-width: $breakpoint-small) {
            max-height: 15em;
        }

        @media screen and (min-width: $breakpoint-medium) {
            height: 22em;
        }

        @media screen and (min-width: $breakpoint-large) {
            max-height: 39em;
        }
    }

    &__text {
        position: absolute;
        bottom: 1em;
        color: white;
    }
}
