.c-slider {
    &__heading {
        text-transform: uppercase;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 10em;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &--twttw {
            background-image: url("../assets/images/grafikr_client_twttw.jpg");
        }

        &--last {
            background-image: url("../assets/images/grafikr_client_last.jpg");
        }

        &--soyaconcept {
            background-image: url("../assets/images/grafikr_client_soyaconcept.jpg");
        }

        @media screen and (min-width: $breakpoint-small) {
            height: 15em;
        }

        @media screen and (min-width: $breakpoint-medium) {
            height: 22em;
        }

        @media screen and (min-width: $breakpoint-large) {
            height: 39em;
        }
    }

    &__text {
        position: absolute;
        bottom: 1em;
        color: white;
        font-size: 1em;
        max-width: 60vw;
        text-align: center;
    }
}
