.c-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 0;

    max-height: 40em;
    overflow: hidden;
    position: relative;

    &__title {
        text-align: center;
        position: absolute;
        color: $color-light;
        font-size: 1.5em;
        margin: 0;

        @media screen and (min-width: $breakpoint-small) {
            font-size: 3em;
        }

        @media screen and (min-width: $breakpoint-medium) {
            font-size: $font-size-xl;
        }
    }

    &__content {
        width: 100%;
    }
}
